* {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#centar, #desno, #fotka, #podaci, #obrazovanje, #iskustvo, #kontakt_levo, #kontakt_formular, #glavni-projekti, nav {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fbfbf0;
    box-shadow: 10px 10px 10px lightseagreen;
    opacity: 0.95;
}

#fotka {
    height: 250px;
}

#glavni-projekti > a, td > a {
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
}

a:hover {
    font-weight: bolder;
    text-decoration: none;
}

.btn {
    width: 150px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px  lightseagreen;
    font-size: 16px;
}

li {
    padding-bottom: 5px;
}

span {
    font-weight: bold;
}

h5 {
    color: darkblue; 
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    color:beige;
    padding-bottom: 10px;
}

#social {
    width: 30px; 
    height: 30px; 
    padding: 6px;
}